<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdt">
	<update id="sale" parameterType="map">
		UPDATE tbl_product
		SET cnt = cnt - #{cnt}
		WHERE pno = #{pno}
	</update>
	<select id="already" resultType="Integer">
		SELECT COUNT(*)
		FROM tbl_product
		WHERE pname = #{pname}
	</select>
	<update id="cntchange" parameterType="HashMap">
		UPDATE tbl_product SET
		<if test="flag == 'plus'">
			cnt = cnt + #{cnt}
		</if>
		<if test="flag == 'minus'">
			cnt = cnt - #{cnt}
		</if>
		WHERE pname = #{pname}
	</update>
	<insert id="insert" parameterType="market.ProductDTO">
		INSERT INTO tbl_product(pno, pname, company, price, cnt)
		VALUES(seq_product.NEXTVAL, #{pname}, #{company}, #{price}, #{cnt})
	</insert>
	<update id="update" parameterType="market.ProductDTO">
		UPDATE tbl_product
		SET company = #{company},
			price = #{price}
		WHERE bname = #{bname}
	</update>
	<delete id="delete" parameterType="String">
		DELETE
		FROM tbl_product
		WHERE pname = #{pname}
	</delete>
	<select id="select" resultType="market.ProductDTO">
		SELECT *
		FROM tbl_product
	</select>
	<select id="saleSelect" resultType="market.ProductDTO">
		SELECT *
		FROM tbl_product
		WHERE cnt >= 1
	</select>
	<select id="tprice" resultType="Integer">
		SELECT (price*cnt)
		FROM tbl_product
		WHERE pno = #{pno}
	</select>
	<select id="selectUsePdt" resultType="ProductDTO">
		SELECT *
		FROM tbl_product
		WHERE cnt >= 1
		ORDER BY pno
	</select>
</mapper>